<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <nav class="steps"></nav>

    <div class="firstPage">
      <video autoplay muted loop id="myVideo" class="centered" controls poster="./assets/20180830_lfrohne_freshhops_0272.jpg">
        <source src="./assets/videos/landing-page.mp4" type="video/mp4">
      </video>
    </div>
    
    <main class="app paused">
      <video class="centered buffer" playsinline preload="auto"><track kind="metadata" default></track></video>
      <video class="centered buffer" playsinline preload="auto"><track kind="metadata" default></track></video>

      <section class="intro">
        <div class="text">
          <h1>The wonder of the fresh hop</h1>
          <div class="credits">By Lauren Frohne, Emily M. Eng and Tan Vinh<br>Published September 14, 2018</div>
          <p class="chatter">
            Fresh-hop beers are widely coveted, but few brewers can make them cheaper or fresher than in Washington state. Meet a world-renowned hop breeder and follow a star brewer's journey to create Washington’s true seasonal beer.
          <p>
            <i>Click to play the video, or choose a section from the navigation bar at the top.</i>
        </div>
      </section>
      
      <section class="outro hidden">
        <div class="content">
          <img src="./assets/st-logo.png" alt="The Seattle Times">
          <button class="restart">Restart video</button>
          <button class="backStory">Main story</button>
        </div>
      </section>
      
      <div class="centered spinner">∴</div>
      
    
      <button class="play-pause hidden">
        <div role="img" alt="pause" class="pause-icon">
          <%= t.include("./assets/icons/baseline-pause_circle_outline-24px.svg") %>
        </div>
        <div role="img" alt="pause" class="play-icon">
          <%= t.include("./assets/icons/baseline-play_circle_outline-24px.svg") %>
        </div>
      </button>
      

      <button type="button" class="prev"></button>
      <button type="button" class="next"></button>
        
      
      <div class="text-overlays">
        <div class="content"></div>
        <div class="closed-captions"></div>
      </div>
      
      <div class="controls">
        <input type="checkbox" checked="true" id="enable-captions">
        <label for="enable-captions">
          <div role="img" alt="toggle closed captions">
            <%= t.include("./assets/icons/baseline-closed_caption-24px.svg") %>
          </div>
        </label>
      </div>

      
    </main>

    <script>
window.videoData = <%= JSON.stringify(json.videos) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
